@model IEnumerable<WebSiteApp.Models.Book>
@{
    ViewData["Title"] = "GetBooks";
}
<h2>Book List</h2>
<p>
    <a asp-action="Create" class="btn btn-primary top-right">Add New Book</a>
</p>

<div>

    <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Author)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ISBN)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Author)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ISBN)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-primary" }) |
                            @Html.ActionLink("Delete", "DeleteBook", new { id = item.ID }, new { @class = "btn btn-default", onclick = "return confirm('Do You Really Want To Delete?')" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
</div>

<hr />
<h2 class="text-center">OR</h2>

<div class="col-sm-12 table-bordered" style="padding: 10px">
    <table id="DT_Load" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Author</th>
                <th>ISBN</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>






@section Scripts{
    <script src="~/js/booklist.js"></script>

}



